header.ui
	.container
		.span8.offset2
			erb:
				<div class="progress progress-striped active">
					<div class="bar" style="width: 25%;"> pág <strong>2</strong> de <strong>8</strong> </div>
				</div>

				<div class="pagination pagination-centered">
					<ul>
						<li><a href="/cadastro1_ficha.html">««</a></li>
						<li><a href="/cadastro1_ficha.html">ficha</a></li>
						<li class="active"><a href="/cadastro2_certificacao.html">certificação</a></li>
						<li><a href="/cadastro3_terreno.html">terreno</a></li>
						<li><a href="/cadastro4_agua.html">água</a></li>
						<li><a href="/cadastro5_energia.html">energia</a></li>
						<li><a href="/cadastro6_fachada.html">fachada</a></li>
						<li><a href="/cadastro7_iluminacao.html">iluminação</a></li>
						<li><a href="/cadastro8_materiais.html">materiais e resíduos</a></li>
						<li><a href="/cadastro3_terreno.html">»»</a></li>


					</ul>
				</div>
