


  <div class="row">

  <div class="span8 offset2 well" style="background-color: #fff;">












<form class="form-horizontal" method="get" action="/cadastro5_energia.html">
<fieldset>

<!-- Form Name -->
<h2><strong>Iluminação</strong></h2><hr>



 
<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>41. Tipo de iluminação – Área</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Lâmpadas T5">
      Lâmpadas T5
    </label>
    

> > > <label class="checkbox inline">
      <input type="checkbox" name="sel_tipos_iluminacao" value="Área privativa">
      Área privativa
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="sel_tipos_iluminacao" value="Área comum">
      Área comum
    </label>
   



    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Lâmpadas LED">
      Lâmpadas LED
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Integração da iluminação com a iluminação natural">
      Integração da iluminação com a iluminação natural
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Dali">
      Dali
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Sensores de presença em áreas comuns">
      Sensores de presença em áreas comuns
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Controles de acionamento automatizado">
      Controles de acionamento automatizado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Fotocélulas na iluminação externa">
      Fotocélulas na iluminação externa
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>





<hr>





<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>42. Equipamentos</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="equipamentos" value="Elevadores eficientes">
      Elevadores eficientes
    </label>
    <label class="checkbox">
      <input type="checkbox" name="equipamentos" value="Frenagem regenerativa">
      Frenagem regenerativa
    </label>
    <label class="checkbox">
      <input type="checkbox" name="equipamentos" value="ADC">
      ADC
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="equipamentos" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>











<hr>








</fieldset>
</form>







<div class="form-actions">  

           










  <button type="button" class="btn">Salvar</button>
  <button type="button" class="btn">Salvar e Sair</button>

</div>








 




  </div>

</div>