



  <div class="row">

  <div class="span3">
    <div class="well" style="max-width: 340px; padding: 8px 0;">
              <ul class="nav nav-list">
                <li class="nav-header">Etapas de Cadastro</li>
                <li class="divider"></li>
                <li><a href="/cadastro1_ficha.html">Ficha Técnica</a></li>
                <li><a href="/cadastro2_certificacao.html">Certificação</a></li>
                <li><a href="/cadastro3_terreno.html">Terreno</a></li>
                <li><a href="/cadastro4_agua.html">Água</a></li>
                <li class="active"><a href="/cadastro5_energia.html">Energia</a></li>
                <li><a href="/cadastro6_fachada.html">Fachada</a></li>
                <li><a href="/cadastro7_iluminacao.html">Iluminação</a></li>
                <li><a href="/cadastro8_materiais.html">Materiais e resíduos</a></li>
                <li class="divider"></li>
              </ul>
        </div>
        
    </div>

  <div class="span8">










<form class="form-horizontal" method="get" action="/cadastro6_fachada.html">
<fieldset>

<!-- Form Name -->
<legend><strong>Energia</strong></legend>



 
 
 <hr>

<div class="control-group">
   <STRONG>32. AR CONDICIONADO – Tipos:</STRONG>
</div>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="VRF" id="VRF" value="
    VRF"><strong>VRF</strong></label>
  
  <div class="controls" data-depends="VRF">
    <label class="radio">
      <input type="radio" name="vrf_sel" value="Ar">
     Ar
    </label>
    <label class="radio">
      <input type="radio" name="vrf_sel" value="Agua">
      Água
    </label>
    

     <label class="radio inline">
      <input type="radio" name="vrf_sel" value="Outros">
      Outros </label><label class="radio inline">- <input type="text"></label>


  </div>
</div>




<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="cnt_agua_gel" value="
    Central de Agua Gelada"><strong>Central de Água Gelada</strong></label>
  
  <div class="controls">
    <label class="radio">
      <input type="radio" name="cnt_agua_gel_sel" value="Ar">
     Ar
    </label>
    <label class="radio">
      <input type="radio" name="cnt_agua_gel_sel" value="Agua">
      Água
    </label>
    

     <label class="radio inline">
      <input type="radio" name="cnt_agua_gel_sel" value="Outros">
      Outros </label><label class="radio inline">- <input type="text"></label>





  </div>
</div>






<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="cnt_agua_gel" value="
    Central de Agua Gelada"><strong>Outros</strong></label>
  
  <div class="controls">
    
    

     <label class="radio inline"><input type="text"></label>





  </div>
</div>


<hr>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>33. Tratamento de ar externo</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="tratamento_ar" value="Roda entálpica">
      Roda entálpica
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tratamento_ar" value="Trocador de calor">
      Trocador de calor
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="tratamento_ar" value="Outros –">
      Outros
    </label><label class="checkbox inline">- <input type="text"></label>
  </div>
</div>



<hr>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>34. Variador de frequência</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="variador_frequencia" value="Nos ventilador de Tomada de ar externo">
      Nos ventilador de Tomada de ar externo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="variador_frequencia" value="Nos Fan coils">
      Nos Fan coils
    </label>
    <label class="checkbox">
      <input type="checkbox" name="variador_frequencia" value="Nos Chillers">
      Nos Chillers
    </label>
   <label class="checkbox inline">
      <input type="checkbox" name="variador_frequencia" value="Outros –">
      Outros
    </label><label class="checkbox inline">- <input type="text"></label>
  </div>
</div>






<hr>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>35. Tipo de Insuflamento de ar</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="insulfamento_ar" value="Teto">
      Teto
    </label>
    <label class="checkbox">
      <input type="checkbox" name="insulfamento_ar" value="Piso">
      Piso
    </label>
    <label class="checkbox">
      <input type="checkbox" name="insulfamento_ar" value="Vigas frias">
      Vigas frias
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="insulfamento_ar" value="Outros –">
      Outros
    </label><label class="checkbox inline">- <input type="text"></label>
  </div>
</div>































<hr>


          <div class="form-actions">  
            <button class="btn">Salvar</button>  
            <button type="submit" class="btn btn-primary">Próximo</button> </a> 
          </div>  



</fieldset>
</form>

 
<div class="progress progress-striped active">
  <div class="bar bar-success" style="width: 62.5%;"></div>
</div>



  </div>

</div>