




  <div class="row">

	<div class="span3">
    <div class="well" style="max-width: 340px; padding: 8px 0;">
              <ul class="nav nav-list">
                <li class="nav-header">Etapas de Cadastro</li>
                <li class="divider"></li>
                <li><a href="/cadastro1_ficha.html">1. Ficha Técnica</a></li>
                <li><a href="/cadastro2_certificacao.html">2. Certificação</a></li>
                <li><a href="/cadastro3_terreno.html">3. Terreno</a></li>
                <li><a href="/cadastro4_agua.html">4. Água</a></li>
                <li class="active"><a href="/cadastro5_energia.html">5. Energia</a></li>
                <li><a href="/cadastro6_fachada.html">6. Fachada</a></li>
                <li><a href="/cadastro7_iluminacao.html">7. Iluminação</a></li>
                <li><a href="/cadastro8_materiais.html">8. Materiais e resíduos</a></li>
                <li class="divider"></li>
              </ul>
        </div>
        
    </div>

  <div class="span8">












<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend><strong>Energia</strong></legend>



 
 
 <hr>

<div class="control-group">
   <STRONG>32. AR CONDICIONADO – Tipos:</STRONG>
</div>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="VRF" value="
    VRF"><strong>VRF</strong></label>
  
  <div class="controls">
    <label class="radio">
      <input type="radio" name="vrf_sel" value="Ar">
     Ar
    </label>
    <label class="radio">
      <input type="radio" name="vrf_sel" value="Agua">
      Água
    </label>
    

     <label class="radio inline">
      <input type="radio" name="vrf_sel" value="Outros">
      Outros </label><label class="radio inline">- <input type="text"></label>


  </div>
</div>




<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="cnt_agua_gel" value="
    Central de Agua Gelada"><strong>Central de Água Gelada</strong></label>
  
  <div class="controls">
    <label class="radio">
      <input type="radio" name="cnt_agua_gel_sel" value="Ar">
     Ar
    </label>
    <label class="radio">
      <input type="radio" name="cnt_agua_gel_sel" value="Agua">
      Água
    </label>
    

     <label class="radio inline">
      <input type="radio" name="cnt_agua_gel_sel" value="Outros">
      Outros </label><label class="radio inline">- <input type="text"></label>





  </div>
</div>






<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="cnt_agua_gel" value="
    Central de Agua Gelada"><strong>Outros</strong></label>
  
  <div class="controls">
    
    

     <label class="radio inline"><input type="text"></label>





  </div>
</div>










<hr>


          <div class="form-actions">  
            <button type="submit" class="btn">Salvar</button>  
            <button class="btn btn-primary">Próximo</button>  
          </div>  




</fieldset>
</form>

 
<div class="progress progress-striped active">
  <div class="bar bar-success" style="width: 50%;"></div>
</div>



  </div>

</div>