



  <div class="row">

  <div class="span8 offset3">










<form class="form-horizontal" method="get" action="/cadastro6_fachada.html">
<fieldset>

<!-- Form Name -->
<legend><strong>Energia</strong></legend>



 
 
 <hr>

<div class="control-group">
   <STRONG>33. AR CONDICIONADO – Tipos:</STRONG>
</div>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="VRF" id="VRF" value="
    VRF"><strong> VRF</strong></label>
  
  <div class="controls" data-depends="VRF">
    <label class="radio">
      <input type="radio" name="vrf_sel" value="Ar">
     Ar
    </label>
    <label class="radio">
      <input type="radio" name="vrf_sel" value="Agua">
      Água
    </label>
    

     <label class="radio inline">
      <input type="radio" name="vrf_sel" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


  </div>
</div>




<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="cnt_agua_gel" value="
    Central de Agua Gelada"><strong> Central de Água Gelada</strong></label>
  
  <div class="controls">
    <label class="radio">
      <input type="radio" name="cnt_agua_gel_sel" value="Ar">
     Ar
    </label>
    <label class="radio">
      <input type="radio" name="cnt_agua_gel_sel" value="Agua">
      Água
    </label>
    

     <label class="radio inline">
      <input type="radio" name="cnt_agua_gel_sel" value="Outros">
     Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>





  </div>
</div>






<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="cnt_agua_gel" value="
    Central de Agua Gelada"><strong> Outros</strong></label>
  
  <div class="controls">

     <label class="text"><input type="text" placeholder="Qual?"></label>





  </div>
</div>


<hr>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>34. Tratamento de ar externo</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="tratamento_ar" value="Roda entálpica">
      Roda entálpica
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tratamento_ar" value="Trocador de calor">
      Trocador de calor
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="tratamento_ar" value="Outros –">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>



<hr>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>35. Variador de frequência</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="variador_frequencia" value="Nos ventilador de Tomada de ar externo">
      Nos ventilador de Tomada de ar externo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="variador_frequencia" value="Nos Fan coils">
      Nos Fan coils
    </label>
    <label class="checkbox">
      <input type="checkbox" name="variador_frequencia" value="Nos Chillers">
      Nos Chillers
    </label>
   <label class="checkbox inline">
      <input type="checkbox" name="variador_frequencia" value="Outros –">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>






<hr>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>36. Tipo de Insuflamento de ar</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="insulfamento_ar" value="Teto">
      Teto
    </label>
    <label class="checkbox">
      <input type="checkbox" name="insulfamento_ar" value="Piso">
      Piso
    </label>
    <label class="checkbox">
      <input type="checkbox" name="insulfamento_ar" value="Vigas frias">
      Vigas frias
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="insulfamento_ar" value="Outros –">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>




































<hr>








</fieldset>
</form>







<div class="form-actions">  

           










  <button type="button" class="btn">Salvar</button>
  <button type="button" class="btn">Salvar e Sair</button>

</div>


<%= render partial: "form_progress_and_nav" %>






 




  </div>

</div>