



  <div class="row">

  <div class="span8 offset3">










<form class="form-horizontal" method="get" action="/cadastro7_iluminacao.html">
<fieldset>

<!-- Form Name -->
<legend><strong>Fachada</strong></legend>



 




<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>37. Proteções solares – Tipos</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="protecao_solar" value="Brises" checked="checked">
      Brises
    </label>
    > > > <label class="radio inline">
      <input type="radio" name="protecao_solar_brises" value="Horizontais">
      Horizontais
    </label> 
    <label class="radio inline">
      <input type="radio" name="protecao_solar_brises" value="Verticais">
      Verticais
    </label>
    <label class="radio inline">
      <input type="radio" name="protecao_solar_brises" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>



    <label class="radio">
      <input type="radio" name="protecao_solar" value="Persianas automatizadas internas">
      Persianas automatizadas internas
    </label>
   <label class="radio inline">
      <input type="radio" name="protecao_solar" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>


<hr>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>38. Vidros – Área envidraçada</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="area_envidrcada" value="Insulado">
      Insulado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="area_envidrcada" value="Laminado">
      Laminado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="area_envidrcada" value="Low-e (baixa emissividade)">
      Low-e (baixa emissividade)
    </label>
    <label class="checkbox">
      <input type="checkbox" name="area_envidrcada" value="Área envidraçada da fachada">
      Área envidraçada da fachada
    </label>
    > > > <label class="radio inline">
      <input type="radio" name="sel_area_envidrcada" value="De 0% a 40%">
      De 0% a 40%
    </label>
    <label class="radio inline">
      <input type="radio" name="sel_area_envidrcada" value="De 40% a 60%">
      De 40% a 60%
    </label>
    <label class="radio inline">
      <input type="radio" name="sel_area_envidrcada" value="De 60% a 80%">
      De 60% a 80%
    </label>
    <label class="radio inline">
      <input type="radio" name="sel_area_envidrcada" value="Mais de 80%">
      Mais de 80%
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="area_envidrcada" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>




<hr>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>39. Elétrica – Tamanho da entrada – Tipo de fonte de energia</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="eletrica" value="Motor de alta eficiência">
      Motor de alta eficiência
    </label>
    <label class="checkbox">
      <input type="checkbox" name="eletrica" value="Medição setorizada de consumo de energia">
      Medição setorizada de consumo de energia
    </label>
    <label class="checkbox">
      <input type="checkbox" name="eletrica" value="Entrada de energia">
      Entrada de energia
    </label>
    
> > > <label class="radio inline">
      <input type="radio" name="eletrica_sel_en_entrada" value="De 0% a 40%">
      Média
    </label>
    <label class="radio inline">
      <input type="radio" name="eletrica_sel_en_entrada" value="De 40% a 60%">
      Alta
    </label>




    <label class="checkbox">
      <input type="checkbox" name="eletrica" value="Fonte de energia">
      Fonte de energia
    </label>
    > > > <label class="checkbox inline">
      <input type="checkbox" name="eletrica_sel_en_fonte" value="Elétrica">
      Elétrica
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="eletrica_sel_en_fonte" value="Gás">
      Gás
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="eletrica_sel_en_fonte" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


    <label class="checkbox">
      <input type="checkbox" name="eletrica" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


  </div>
</div>






<hr>




<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>40. Energia alternativa</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="energia_alternativa" value="Solar fotovoltaica">
      Solar fotovoltaica
    </label>
    <label class="checkbox">
      <input type="checkbox" name="energia_alternativa" value="Aquecimento solar de água">
      Aquecimento solar de água
    </label>
    <label class="checkbox">
      <input type="checkbox" name="energia_alternativa" value="Eólica">
      Eólica
    </label>
    <label class="checkbox">
      <input type="checkbox" name="energia_alternativa" value="Biomassa">
      Biomassa
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="energia_alternativa" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>

  </div>
</div>





















<hr>








</fieldset>
</form>







<div class="form-actions">  

           










  <button type="button" class="btn">Salvar</button>
  <button type="button" class="btn">Salvar e Sair</button>

</div>


<%= render partial: "form_progress_and_nav" %>






 




  </div>

</div>