


  <div class="row">
  
	<div class="span8 offset3">












<form class="form-horizontal" method="get" action="/cadastro3_terreno.html">
<fieldset>

<!-- Form Name -->
<legend><strong>Certificação</strong></legend>



 

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>15. Sistema</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="sistema" value="LEED">
      LEED
    </label>
    <label class="checkbox">
      <input type="checkbox" name="sistema" value="Aqua">
      Aqua
    </label>
    <label class="checkbox">
      <input type="checkbox" name="sistema" value="Procel Edifica">
      Procel Edifica
    </label>
    <label class="checkbox">
      <input type="checkbox" name="sistema" value="Qualiverde">
      Qualiverde
    </label>
    <label class="checkbox">
      <input type="checkbox" name="sistema" value="Bream">
      Bream
    </label>
    <label class="checkbox">
      <input type="checkbox" name="sistema" value="DGNB">
      DGNB
    </label>
    <label class="checkbox">
      <input type="checkbox" name="sistema" value="LBC">
      LBC
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="sistema" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
    
    
  

  </div>
</div>




<hr>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>16. Tipo de sistema</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="LEED - NC">
      LEED - NC
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="LEED - CS">
      LEED - CS
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="LEED - CI">
      LEED - CI
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="LEED - EB">
      LEED - EB
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="Aqua - Bairros e loteamentos">
      Aqua - Bairros e loteamentos
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="Aqua - Edifícios Habitacionais">
      Aqua - Edifícios Habitacionais
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="Aqua Serviços">
      Aqua Serviços
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="Aqua - Operação e Uso">
      Aqua - Operação e Uso
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="Procel – Residencial">
      Procel – Residencial
    </label>

    <label class="checkbox">
      <input type="checkbox" name="tipo_sistema" value="Procel – Comercial">
      Procel – Comercial
    </label>
    
     <label class="checkbox inline">
      <input type="checkbox" name="tipo_sistema" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


  </div>
</div>


<hr>


<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>17. Versão do sistema</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="versao_sistema" value="LEED – v2">
      LEED – v2
    </label>
    <label class="radio">
      <input type="radio" name="versao_sistema" value="LEED – v 2.2">
      LEED – v 2.2
    </label>
    <label class="radio">
      <input type="radio" name="versao_sistema" value="LEED – V3">
      LEED – V3
    </label>
    <label class="radio">
      <input type="radio" name="versao_sistema" value="LEED – V4">
      LEED – V4
    </label>
    <label class="radio inline">
      <input type="radio" name="versao_sistema" value="Outros">
     Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>




<hr>




<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>18. Perfil/Nível de certificação</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="LEED - Platinum">
      LEED - Platinum
    </label>
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="LEED - Gold">
      LEED - Gold
    </label>
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="LEED - Silver">
      LEED - Silver
    </label>
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="LEED - Certified">
      LEED - Certified
    </label>
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="Procel – A">
      Procel – A
    </label>
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="Procel – B">
      Procel – B
    </label>
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="Procel – C">
      Procel – C
    </label>
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="Procel – D">
      Procel – D
    </label>
    <label class="radio">
      <input type="radio" name="nivel_certificacao" value="Procel - E">
      Procel - E
    </label>
<label class="radio inline">
      <input type="radio" name="nivel_certificacao" value="Outros">
     Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>

  </div>
</div>




<hr>








</fieldset>
</form>







<div class="form-actions">  

           










  <button type="button" class="btn">Salvar</button>
  <button type="button" class="btn">Salvar e Sair</button>

</div>


<%= render partial: "form_progress_and_nav" %>






 




  </div>

</div>