




  <div class="row">

  <div class="span3">
    <div class="well" style="max-width: 340px; padding: 8px 0;">
              <ul class="nav nav-list">
                <li class="nav-header">Etapas de Cadastro</li>
                <li class="divider"></li>
                <li><a href="/cadastro1_ficha.html">Ficha Técnica</a></li>
                <li><a href="/cadastro2_certificacao.html">Certificação</a></li>
                <li><a href="/cadastro3_terreno.html">Terreno</a></li>
                <li><a href="/cadastro4_agua.html">Água</a></li>
                <li><a href="/cadastro5_energia.html">Energia</a></li>
                <li><a href="/cadastro6_fachada.html">Fachada</a></li>
                <li><a href="/cadastro7_iluminacao.html">Iluminação</a></li>
                <li class="active"><a href="/cadastro8_materiais.html">Materiais e resíduos</a></li>
                <li class="divider"></li>
              </ul>
        </div>
        
    </div>

  <div class="span8">









<form class="form-horizontal" method="get" action="/home.html">
<fieldset>

<!-- Form Name -->
<legend><strong>Iluminação</strong></legend>



 
<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>42. Material de baixo VOC</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="materiais_VOC" value="Tintas">
      Tintas
    </label>
    <label class="radio">
      <input type="radio" name="materiais_VOC" value="Adesivos">
      Adesivos
    </label>
    <label class="radio inline">
      <input type="radio" name="materiais_VOC" value="Outros">
      Outros
    </label><label class="radio inline">- <input type="text"></label>
  </div>
</div>



<hr>





 
<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>43. Madeira certificada</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="madeira_cert" value="Acabamentos">
      Acabamentos
    </label>
    <label class="radio">
      <input type="radio" name="madeira_cert" value="Mobiliários">
      Mobiliários
    </label>
    <label class="radio inline">
      <input type="radio" name="madeira_cert" value="Outros">
      Outros
    </label><label class="radio inline">- <input type="text"></label>
  </div>
</div>







<hr>





 
<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>44. Pisos e carpetes certificados</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="piso_carp_cert" value="Certificação Floor Score">
      Certificação Floor Score
    </label>
    
    <label class="radio inline">
      <input type="radio" name="piso_carp_cert" value="Outros">
      Outros
    </label><label class="radio inline">- <input type="text"></label>
  </div>
</div>






<hr>





 
<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>45. Infraestrutura para coleta de resíduos recicláveis</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="infra_coleta" value="Depósito central">
      Depósito central
    </label>

     <label class="checkbox">
      <input type="checkbox" name="infra_coleta" value="Depósito no pavimento">
      Depósito no pavimento
    </label>
    
    <label class="checkbox inline">
      <input type="checkbox" name="infra_coleta" value="Outros">
      Outros
    </label><label class="checkbox inline">- <input type="text"></label>
  </div>
</div>













<hr>


          <div class="form-actions">  
            <button class="btn">Salvar</button>  
            <button type="submit" class="btn btn-success">Finalizar</button> </a> 
          </div>  




</fieldset>
</form>

 
<div class="progress progress-striped active">
  <div class="bar bar-success" style="width: 100%;"></div>
</div>



  </div>

</div>