


  <div class="row">

	
  <div class="span2">
    <p>
        <a class="btn btn-medium btn-success" href="/cadastro_ficha_tecnica.html">
          <i class="icon-plus-sign icon-2x"></i> <br>Novo cadastro<br>de obra
        </a>
    </p>

    <p>
        <a class="btn btn-medium" href="log.html">
          <i class="icon-book icon-2x"></i> <br>Ver/exportar <br>LOG
        </a>
    </p>
          <p>
        <a class="btn btn-medium" href="cadastro_usuario.html">
          <i class="icon-user icon-2x"></i> <br>Ver/Cadastrar <br>usuário
        </a>
    </p>

    </p>
        
    </div>


    <div class="span8 well" style="background-color: #fff;">
    	
      <h2>Cadastro de usuários</h2>
      <p class="lead">Utilize a ferramenta abaixo para cadastrar ou excluir um usuário</p><br><br>

      <a href="pagina_cadastro_usuario.html" class="btn btn-large btn-primary" type="button"><i class="icon-plus"></i> Criar novo usuário</a><br><br>

      <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Criado em</th>
                  <th>Número de acessos</th>
                  <th>Permissão do usuário</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Cristina</td>
                  <td>cris@criactive.com.br</td>
                  <td>10/06/2013</td>
                  <td>32</td>
                  <td>Administrador</td>
                  <td class="last links">
                    <ul class="inline">
                              <li title="Mostrar" rel="tooltip" class="icon show_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-eye-open"></i>
                                  <span style="display:none">Mostrar</span>
                                </a>
                              </li>
                            
                              <li title="Editar" rel="tooltip" class="icon edit_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-pencil"></i>
                                  <span style="display:none">Editar</span>
                                </a>
                              </li>
                            
                              <li title="Remover" rel="tooltip" class="icon delete_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-remove"></i>
                                  <span style="display:none">Remover</span>
                                </a>
                              </li>
                            </ul>
                    </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Roberto</td>
                  <td>roberto@criactive.com.br</td>
                  <td>11/06/2013</td>
                  <td>54</td>
                  <td>Administrador</td>
                  <td class="last links">
                    <ul class="inline">
                              <li title="Mostrar" rel="tooltip" class="icon show_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-eye-open"></i>
                                  <span style="display:none">Mostrar</span>
                                </a>
                              </li>
                            
                              <li title="Editar" rel="tooltip" class="icon edit_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-pencil"></i>
                                  <span style="display:none">Editar</span>
                                </a>
                              </li>
                            
                              <li title="Remover" rel="tooltip" class="icon delete_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-remove"></i>
                                  <span style="display:none">Remover</span>
                                </a>
                              </li>
                            </ul>
                    </td>

                </tr>
                <tr>
                  <td>3</td>
                  <td>Janaína</td>
                  <td>janaina@criactive.com.br</td>
                  <td>11/06/2013</td>
                  <td>12</td>
                  <td>Usuário restrito</td>
                  <td class="last links">
                    <ul class="inline">
                              <li title="Mostrar" rel="tooltip" class="icon show_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-eye-open"></i>
                                  <span style="display:none">Mostrar</span>
                                </a>
                              </li>
                            
                              <li title="Editar" rel="tooltip" class="icon edit_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-pencil"></i>
                                  <span style="display:none">Editar</span>
                                </a>
                              </li>
                            
                              <li title="Remover" rel="tooltip" class="icon delete_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-remove"></i>
                                  <span style="display:none">Remover</span>
                                </a>
                              </li>
                            </ul>
                    </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Rafaela</td>
                  <td>rafaela@criactive.com.br</td>
                  <td>15/06/2013</td>
                  <td>4</td>
                  <td>Usuário restrito</td>
                  <td class="last links">
                    <ul class="inline">
                              <li title="Mostrar" rel="tooltip" class="icon show_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-eye-open"></i>
                                  <span style="display:none">Mostrar</span>
                                </a>
                              </li>
                            
                              <li title="Editar" rel="tooltip" class="icon edit_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-pencil"></i>
                                  <span style="display:none">Editar</span>
                                </a>
                              </li>
                            
                              <li title="Remover" rel="tooltip" class="icon delete_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-remove"></i>
                                  <span style="display:none">Remover</span>
                                </a>
                              </li>
                            </ul>
                    </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>José</td>
                  <td>jose@criactive.com.br</td>
                  <td>10/06/2013</td>
                  <td>15</td>
                  <td>Usuário restrito</td>
                  <td class="last links">
                    <ul class="inline">
                              <li title="Mostrar" rel="tooltip" class="icon show_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-eye-open"></i>
                                  <span style="display:none">Mostrar</span>
                                </a>
                              </li>
                            
                              <li title="Editar" rel="tooltip" class="icon edit_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-pencil"></i>
                                  <span style="display:none">Editar</span>
                                </a>
                              </li>
                            
                              <li title="Remover" rel="tooltip" class="icon delete_member_link ">
                                <a class="pjax" href="#">
                                  <i class="icon-remove"></i>
                                  <span style="display:none">Remover</span>
                                </a>
                              </li>
                            </ul>
                    </td>
                </tr>
              </tbody>
            </table>



    </div>

</div>