


  <div class="row">

	<div class="span3">
    <div class="well" style="max-width: 340px; padding: 8px 0;">
              <ul class="nav nav-list">
                <li class="nav-header">Etapas de Cadastro</li>
                <li class="divider"></li>
                <li><a href="/cadastro1_ficha.html">1. Ficha Técnica</a></li>
                <li><a href="/cadastro2_certificacao.html">2. Certificação</a></li>
                <li class="active"><a href="/cadastro3_terreno.html">3. Terreno</a></li>
                <li><a href="/cadastro4_agua.html">4. Água</a></li>
                <li><a href="/cadastro5_energia.html">5. Energia</a></li>
                <li><a href="/cadastro6_fachada.html">6. Fachada</a></li>
                <li><a href="/cadastro7_iluminacao.html">7. Iluminação</a></li>
                <li><a href="/cadastro8_materiais.html">8. Materiais e resíduos</a></li>
                <li class="divider"></li>
              </ul>
        </div>
        
    </div>

  <div class="span8">












<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend><strong>Terreno</strong></legend>



 
 
 <!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>19. Vagas Verdes</strong></label>
  
  <div class="controls">
     <label class="radio inline">
      <input type="radio" name="vagas_verdes" value="Outros">
      Sim
    </label> <label class="radio inline">Quantidade: <input class="input-mini" type="text"></label>

    <label class="radio">
      <input type="radio" name="vagas_verdes" value="Não">
      Não
    </label>
  </div>
</div>




 
 <!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>Estações de recarga de veículos elétricos</strong></label>
  
  <div class="controls">
     <label class="radio inline">
      <input type="radio" name="recarga_veiculos" value="Outros">
      Sim
    </label> <label class="radio inline">Quantidade: <input class="input-mini" type="text"></label>

    <label class="radio">
      <input type="radio" name="recarga_veiculos" value="Não">
      Não
    </label>
  </div>
</div>



<hr>



 
 <!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>20. Bicicletários</strong></label>
  
  <div class="controls">
     <label class="radio inline">
      <input type="radio" name="bicicletarios" value="Outros">
      Sim
    </label> <label class="radio inline">Quantidade: <input class="input-mini" type="text"></label>

    <label class="radio">
      <input type="radio" name="bicicletarios" value="Não">
      Não
    </label>
  </div>
</div>




<hr>



 
 <!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>21. Vestiários com chuveiro</strong></label>
  
  <div class="controls">
     <label class="radio inline">
      <input type="radio" name="vestiarios" value="Outros">
      Sim
    </label> <label class="radio inline">Quantidade: <input class="input-mini" type="text"></label>

    <label class="radio">
      <input type="radio" name="vestiarios" value="Não">
      Não
    </label>
  </div>
</div>


<hr>



<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>22. Proximidade ao transporte público</strong></label>
  <div class="controls">
    <label class="checkbox inline">
      <input type="checkbox" name="transp_publico" value="Metro">
      Metro
    </label><label class="radio inline">Distância aprox.: <input class="input-mini" type="text">m</label>

    <br>
    <label class="checkbox inline">
      <input type="checkbox" name="transp_publico" value="Trem">
      Trem
    </label><label class="radio inline">Distância aprox.: <input class="input-mini" type="text">m</label>

    <br>
    <label class="checkbox inline">
      <input type="checkbox" name="transp_publico" value="Ponto de ônibus">
      Ponto de ônibus
    </label><label class="radio inline">Distância aprox.: <input class="input-mini" type="text">m</label>

    <br>
    <label class="checkbox inline">
      <input type="checkbox" name="transp_publico" value="Outros">
      Outros
    </label><label class="radio inline">Qual? <input class="input-mini" type="text"></label>
    <label class="radio">Distância aprox.: <input class="input-mini" type="text">m</label>
  </div>
</div>



<hr>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>23. Redução do efeito de ilhas de calor no empreendimento</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="ilhas_calor" value="Alta refletância solar (cor branca)">
      Alta refletância solar (cor branca)
    </label>
    <label class="checkbox">
      <input type="checkbox" name="ilhas_calor" value="Telhado verde">
      Telhado verde
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="ilhas_calor" value="Outros">
      Outros
    </label><label class="checkbox inline">Qual? <input class="input-mini" type="text"></label>
  </div>
</div>





<hr>


          <div class="form-actions">  
            <button type="submit" class="btn">Salvar</button>  
            <button class="btn btn-primary">Próximo</button>  
          </div>  




</fieldset>
</form>

 
<div class="progress progress-striped active">
  <div class="bar bar-success" style="width: 37.5%;"></div>
</div>



  </div>

</div>