








<form class="form-horizontal" method="get" action="/cadastro5_energia.html">
<fieldset>

<!-- Form Name -->
<h2><strong>Água</strong></h2><hr>



 
 
 <!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>25. Bacias e mictórios</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="bacias_mics" value="Bacias a vácuo">
      Bacias a vácuo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="bacias_mics" value="Bacias dual flux">
      Bacias dual flux
    </label>
    <label class="checkbox">
      <input type="checkbox" name="bacias_mics" value="HET – Vasos com consumo menor de 4 litros">
      HET – Vasos com consumo menor de 4 litros
    </label>
    <label class="checkbox">
      <input type="checkbox" name="bacias_mics" value="Mictórios secos">
      Mictórios secos
    </label>
    <label class="checkbox">
      <input type="checkbox" name="bacias_mics" value="Mictório eficiente">
      Mictório eficiente
    </label>
    <label class="checkbox">
      <input type="checkbox" name="bacias_mics" value="Mictório com fechamento hidromecânico">
      Mictório com fechamento hidromecânico
    </label>
    <label class="checkbox">
      <input type="checkbox" name="bacias_mics" value="Mictório com fechamento com sensor de presença">
      Mictório com fechamento com sensor de presença
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="bacias_mics" value="Outros">
       Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>

  </div>
</div>

<hr>



<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>26. Torneiras</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="torneiras" value="Restritores de vazão" checked="checked">
      Restritores de vazão
    </label>
    <label class="radio">
      <input type="radio" name="torneiras" value="Acionamento hidromecânico">
      Acionamento hidromecânico
    </label>
    <label class="radio">
      <input type="radio" name="torneiras" value="Sensor de presença">
      Sensor de presença
    </label>
    <label class="radio inline">
      <input type="radio" name="torneiras" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>



<hr>

<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>27. Chuveiros</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="chuveiros" value="Restritores de vazão">
      Restritores de vazão
    </label>
    <label class="radio inline">
      <input type="radio" name="chuveiros" value="Outros">
       Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>





<hr>

<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>28. Irrigação</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="irrigacao" value="Irrigação automatizada">
      Irrigação automatizada
    </label>
    <label class="radio inline">
      <input type="radio" name="irrigacao" value="Outros">
       Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>






<hr>

<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>29. Piscina</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="piscina" value="Aquecimento solar para piscina">
      Aquecimento solar para piscina
    </label>
    <label class="radio inline">
      <input type="radio" name="piscina" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>






<hr>

<!-- Multiple Radios -->
<div class="control-group">
  
<label class="control-label"><strong>30. Torres de resfriamento - Tipo</strong></label>
  <div class="controls">
    

       <label class="radio inline">
      <input type="radio" name="vagas_verdes" value="Outros">
      Sim
    </label> 
    <label class="radio inline">
      <input type="radio" name="vagas_verdes" value="Não">
      Não
    </label><br>
    > > > <label class="radio inline"> Aberta<input type="radio" name="torre_resfr_tipo" value="Aberta"></label>
    <label class="radio inline"> Fechada<input type="radio" name="torre_resfr_tipo" value="Fechada"></label>


  </div>
</div>





<hr>

<div class="control-group">
   <STRONG>31. FONTES NÃO POTÁVEIS DE ÁGUA – Tipos:</STRONG>
</div>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="agua_pluvial" value="
    Agua Pluvial"><strong> Água Pluvial</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="agua_pluv" value="Para irrigação do paisagismo">
      Para irrigação do paisagismo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_pluv" value="Para lavagem de pisos">
      Para lavagem de pisos
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_pluv" value="Para bacias">
      Para bacias
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_pluv" value="Para ar condicionado">
      Para ar condicionado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_pluv" value="Piscina">
      Piscina
    </label>

     <label class="checkbox inline">
      <input type="checkbox" name="agua_pluv" value="Outros">
       Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


  </div>
</div>




<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="agua_lencol" value="
    Agua de Lençol"><strong> Água de Lençol</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="agua_lenc" value="Para irrigação do paisagismo">
      Para irrigação do paisagismo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_lenc" value="Para lavagem de pisos">
      Para lavagem de pisos
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_lenc" value="Para bacias">
      Para bacias
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_lenc" value="Para ar condicionado">
      Para ar condicionado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_lenc" value="Piscina">
      Piscina
    </label>

     <label class="checkbox inline">
      <input type="checkbox" name="agua_lenc" value="Outros">
       Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


  </div>
</div>






<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="agua_condensacao" value="
    Água de Condensação"><strong> Água de Condensação</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="agua_conden" value="Para irrigação do paisagismo">
      Para irrigação do paisagismo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_conden" value="Para lavagem de pisos">
      Para lavagem de pisos
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_conden" value="Para bacias">
      Para bacias
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_conden" value="Para ar condicionado">
      Para ar condicionado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_conden" value="Piscina">
      Piscina
    </label>

     <label class="checkbox inline">
      <input type="checkbox" name="agua_conden" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


  </div>
</div>









<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label">
    <input type="checkbox" name="agua_cinza_trat" value="
    Água Cinza Tratada"><strong>  Água Cinza Tratada</strong></label>
  
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="agua_cinza" value="Para irrigação do paisagismo">
      Para irrigação do paisagismo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_cinza" value="Para lavagem de pisos">
      Para lavagem de pisos
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_cinza" value="Para bacias">
      Para bacias
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_cinza" value="Para ar condicionado">
      Para ar condicionado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_cinza" value="Piscina">
      Piscina
    </label>

     <label class="checkbox inline">
      <input type="checkbox" name="agua_cinza" value="Outros">
       Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


  </div>
</div>








<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><input type="checkbox" name="agua_negra_trat" value="
    Água Negra Tratada"><strong> Água Negra Tratada</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="agua_negra" value="Para irrigação do paisagismo">
      Para irrigação do paisagismo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_negra" value="Para lavagem de pisos">
      Para lavagem de pisos
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_negra" value="Para bacias">
      Para bacias
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_negra" value="Para ar condicionado">
      Para ar condicionado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="agua_negra" value="Piscina">
      Piscina
    </label>

     <label class="checkbox inline">
      <input type="checkbox" name="agua_negra" value="Outros">
       Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


  </div>
</div>



<hr>



<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>32. Drenagem</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="drenagem" value="Pisos permeáveis">
      Pisos permeáveis
    </label>
    <label class="checkbox">
      <input type="checkbox" name="drenagem" value="Caixa de retardo">
      Caixa de retardo
    </label>
    <label class="checkbox">
      <input type="checkbox" name="drenagem" value="Remoção de sólidos suspensos – Filtros Vortex">
      Remoção de sólidos suspensos – Filtros Vortex
    </label>
    
    <label class="checkbox inline">
      <input type="checkbox" name="drenagem" value="Outros">
       Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>

  </div>
</div>



















<hr>








</fieldset>
</form>







<div class="form-actions">  

           










  <button type="button" class="btn">Salvar</button>
  <button type="button" class="btn">Salvar e Sair</button>

</div>
