


  <div class="row">

	<div class="span8 offset3">












<form class="form-horizontal" method="get" action="/cadastro4_agua.html">
<fieldset>

<!-- Form Name -->
<legend><strong>Terreno</strong></legend>



 
 
 <!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>19. Vagas Verdes</strong></label>
  
  <div class="controls">
     <label class="radio inline">
      <input type="radio" name="vagas_verdes" value="Outros">
      Sim
    </label> 
    <label class="radio inline">
      <input type="radio" name="vagas_verdes" value="Não">
      Não
    </label>
    <label class="text">> > > Quantidade: <input class="input-mini" type="text"></label>

  </div>
</div>


<hr>

 
 <!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>20. Estações de recarga de veículos elétricos</strong></label>
  
   <div class="controls">
     <label class="radio inline">
      <input type="radio" name="recarca_veiculos" value="Outros">
      Sim
    </label> 
    <label class="radio inline">
      <input type="radio" name="recarca_veiculos" value="Não">
      Não
    </label>
    <label class="text">> > > Quantidade: <input class="input-mini" type="text"></label>

  </div>
</div>



<hr>



 
 <!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>21. Bicicletários</strong></label>
  
  <div class="controls">
     <label class="radio inline">
      <input type="radio" name="bicicletarios" value="Outros">
      Sim
    </label> 
    <label class="radio inline">
      <input type="radio" name="bicicletarios" value="Não">
      Não
    </label>
    <label class="text">> > > Quantidade: <input class="input-mini" type="text"></label>

  </div>
</div>




<hr>



 
 <!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>22. Vestiários com chuveiro</strong></label>
  
  <div class="controls">
     <label class="radio inline">
      <input type="radio" name="vestiarios" value="Outros">
      Sim
    </label> 
    <label class="radio inline">
      <input type="radio" name="vestiarios" value="Não">
      Não
    </label>
    <label class="text">> > > Quantidade: <input class="input-mini" type="text"></label>

  </div>
</div>


<hr>



<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>23. Proximidade ao transporte público</strong></label>
  <div class="controls">
    <label class="checkbox inline">
      <input type="checkbox" name="transp_publico" value="Metro">
      Metro
    </label><label class="text">> > > Distância aprox.: <input class="input-mini" type="text"></label>

    <br>
    <label class="checkbox inline">
      <input type="checkbox" name="transp_publico" value="Trem">
      Trem
    </label><label class="text">> > > Distância aprox.: <input class="input-mini" type="text"></label>

    <br>
    <label class="checkbox inline">
      <input type="checkbox" name="transp_publico" value="Ponto de ônibus">
      Ponto de ônibus
    </label><label class="text">> > > Distância aprox.: <input class="input-mini" type="text"></label>

    <br>
    <label class="checkbox inline">
      <input type="checkbox" name="transp_publico" value="Outros">
     Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
    <label class="text">> > > Distância aprox.: <input class="input-mini" type="text"></label>
  </div>
</div>



<hr>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>24. Redução do efeito de ilhas de calor no empreendimento</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="ilhas_calor" value="Alta refletância solar (cor branca)">
      Alta refletância solar (cor branca)
    </label>
    <label class="checkbox">
      <input type="checkbox" name="ilhas_calor" value="Telhado verde">
      Telhado verde
    </label>
    <label class="checkbox">
      <input type="checkbox" name="ilhas_calor" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>





<hr>








</fieldset>
</form>







<div class="form-actions">  

           










  <button type="button" class="btn">Salvar</button>
  <button type="button" class="btn">Salvar e Sair</button>

</div>

<%= render partial: "form_progress_and_nav" %>
              </ul>
            </div>







 




  </div>

</div>