


  <div class="row">

  <div class="span8 offset2 well" style="background-color: #fff;">












<form class="form-horizontal" method="get" action="/cadastro5_energia.html">
<fieldset>

<!-- Form Name -->
<h2><strong>Materiais e resíduos</strong></h2><hr>



 
<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>43. Material de baixo VOC</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="materiais_VOC" value="Tintas">
      Tintas
    </label>
    <label class="radio">
      <input type="radio" name="materiais_VOC" value="Adesivos">
      Adesivos
    </label>
    <label class="radio inline">
      <input type="radio" name="materiais_VOC" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>



<hr>





 
<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>44. Madeira certificada</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="madeira_cert" value="Acabamentos">
      Acabamentos
    </label>
    <label class="radio">
      <input type="radio" name="madeira_cert" value="Mobiliários">
      Mobiliários
    </label>
    <label class="radio inline">
      <input type="radio" name="madeira_cert" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>







<hr>





 
<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>45. Pisos e carpetes certificados</strong></label>
  <div class="controls">
    <label class="radio">
      <input type="radio" name="piso_carp_cert" value="Certificação Floor Score">
      Certificação Floor Score
    </label>
    
    <label class="radio inline">
      <input type="radio" name="piso_carp_cert" value="Outros">
     Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>






<hr>





 
<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label"><strong>46. Infraestrutura para coleta de resíduos recicláveis</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="infra_coleta" value="Depósito central">
      Depósito central
    </label>

     <label class="checkbox">
      <input type="checkbox" name="infra_coleta" value="Depósito no pavimento">
      Depósito no pavimento
    </label>
    
    <label class="checkbox inline">
      <input type="checkbox" name="infra_coleta" value="Outros">
      Outros  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>
  </div>
</div>




<hr>



<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>47. Qualidade Ambiental (Ar) – Nível de filtragem</strong></label>
  <div class="controls">
    
<label class="checkbox">
      <input type="checkbox" name="qual_ambiental" value="Nível de Filtragem">
      Nível de Filtragem
    </label>
    > > > <label class="radio inline">
      <input type="radio" name="qual_ambiental_sel_filtragem" value="F5">
      F5
    </label>
    <label class="radio inline">
      <input type="radio" name="qual_ambiental_sel_filtragem" value="F7">
      F7
    </label>



    <label class="checkbox">
      <input type="checkbox" name="qual_ambiental" value="Sistemas de tratamento de ar interno">
       Sistemas de tratamento de ar interno  -   <input type="text" class="input-medium inline" placeholder="Qual?">
    </label>


   

    

  </div>
</div>














<hr>








</fieldset>
</form>







<div class="form-actions">  

           










  <button type="button" class="btn">Salvar</button>
  <button type="button" class="btn btn-success">Finalizar</button>

</div>








 




  </div>

</div>