


  <div class="row">

  <div class="span3">
    <div class="well" style="max-width: 340px; padding: 8px 0;">
              <ul class="nav nav-list">
                <li class="nav-header">Etapas de Cadastro</li>
                <li class="divider"></li>
                <li><a href="/cadastro1_ficha.html">Ficha Técnica</a></li>
                <li><a href="/cadastro2_certificacao.html">Certificação</a></li>
                <li><a href="/cadastro3_terreno.html">Terreno</a></li>
                <li><a href="/cadastro4_agua.html">Água</a></li>
                <li><a href="/cadastro5_energia.html">Energia</a></li>
                <li><a href="/cadastro6_fachada.html">Fachada</a></li>
                <li class="active"><a href="/cadastro7_iluminacao.html">Iluminação</a></li>
                <li><a href="/cadastro8_materiais.html">Materiais e resíduos</a></li>
                <li class="divider"></li>
              </ul>
        </div>
        
    </div>

  <div class="span8">









<form class="form-horizontal" method="get" action="/cadastro8_materiais.html">
<fieldset>

<!-- Form Name -->
<legend><strong>Iluminação</strong></legend>



 
<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>40. Tipo de iluminação – Área</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Lâmpadas T5">
      Lâmpadas T5
    </label>
    

> > > <label class="checkbox inline">
      <input type="checkbox" name="sel_tipos_iluminacao" value="Elétrica">
      Área privativa
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="sel_tipos_iluminacao" value="Gás">
      Área comum
    </label>
   



    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Lâmpadas LED">
      Lâmpadas LED
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Integração da iluminação com a iluminação natural">
      Integração da iluminação com a iluminação natural
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Dali">
      Dali
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Sensores de presença em áreas comuns">
      Sensores de presença em áreas comuns
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Controles de acionamento automatizado">
      Controles de acionamento automatizado
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Fotocélulas na iluminação externa">
      Fotocélulas na iluminação externa
    </label>
    <label class="checkbox">
      <input type="checkbox" name="tipos_iluminacao" value="Outros">
      Outros
    </label>
  </div>
</div>





<hr>





<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label"><strong>41. Equipamentos</strong></label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="equipamentos" value="Elevadores eficientes">
      Elevadores eficientes
    </label>
    <label class="checkbox">
      <input type="checkbox" name="equipamentos" value="Frenagem regenerativa">
      Frenagem regenerativa
    </label>
    <label class="checkbox">
      <input type="checkbox" name="equipamentos" value="ADC">
      ADC
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="equipamentos" value="Outros">
      Outros
    </label><label class="checkbox inline">- <input type="text"></label>
  </div>
</div>











<hr>


          <div class="form-actions">  
            <button class="btn">Salvar</button>  
            <button type="submit" class="btn btn-primary">Próximo</button> </a> 
          </div>  




</fieldset>
</form>

 
<div class="progress progress-striped active">
  <div class="bar bar-success" style="width: 87.5%;"></div>
</div>



  </div>

</div>