


  <div class="row">

	
  <div class="span3">
    <p>
        <a class="btn btn-medium btn-success" href="/cadastro_ficha_tecnica.html">
          <i class="icon-plus-sign icon-2x"></i> <br>Cadastrar <br>obra</a></p>
<p>
        <a class="btn btn-medium" href="#">
          <i class="icon-search icon-2x"></i> <br>Buscar/editar <br>obras</a></p>
<p>
        <a class="btn btn-medium" href="#">
          <i class="icon-share icon-2x"></i> <br>Ver/Exportar <br>dados</a></p>
<p>
        <a class="btn btn-medium" href="#">
          <i class="icon-book icon-2x"></i> <br>Ver/exportar <br>LOG</a></p>
<p>
          <a class="btn btn-medium" href="#">
          <i class="icon-user icon-2x"></i> <br>Ver/Cadastrar <br>usuário</a></p>

      </p>
        
    </div>


    <div class="span8">
    	
      lista lista lista


    </div>

</div>