


  <div class="row">

	
  <div class="span3">
    
        
    </div>


    <div class="span8">
    	<p>
        <a class="btn btn-large btn-success" href="/cadastro_ficha_tecnica.html">
          <i class="icon-plus-sign icon-2x"></i> <br>Cadastrar <br>obra</a>

        <a class="btn btn-large" href="#">
          <i class="icon-search icon-2x"></i> <br>Buscar/editar <br>obras</a>

        <a class="btn btn-large" href="#">
          <i class="icon-share icon-2x"></i> <br>Ver/Exportar <br>dados</a>

        <a class="btn btn-large" href="#">
          <i class="icon-book icon-2x"></i> <br>Ver/exportar <br>LOG</a>

          <a class="btn btn-large" href="#">
          <i class="icon-user icon-2x"></i> <br>Ver/Cadastrar <br>usuário</a>

      </p>
    </div>

</div>