


  <div class="row">

	

    <div class="span8">
    	<p>
        <a class="btn btn-large btn-success" href="#">
          <i class="icon-plus-sign icon-2x"></i> <br>Cadastrar <br>obra</a>

        <a class="btn btn-large" href="#">
          <i class="icon-search icon-2x"></i> <br>Buscar <br>obras</a>

        <a class="btn btn-large" href="#">
          <i class="icon-share icon-2x"></i> <br>Exportar <br>dados</a>

        <a class="btn btn-large" href="#">
          <i class="icon-book icon-2x"></i> <br>Visualizar <br>LOG</a>

      </p>
    </div>

</div>