


  <div class="row">

	
  <div class="span2">
    <p>
        <a class="btn btn-medium btn-success" href="/cadastro_ficha_tecnica.html">
          <i class="icon-plus-sign icon-2x"></i> <br>Novo cadastro<br>de obra
        </a>
    </p>

    <p>
        <a class="btn btn-medium" href="log.html">
          <i class="icon-book icon-2x"></i> <br>Ver/exportar <br>LOG
        </a>
    </p>
          <p>
        <a class="btn btn-medium" href="cadastro_usuario.html">
          <i class="icon-user icon-2x"></i> <br>Ver/Cadastrar <br>usuário
        </a>
    </p>

    </p>
        
    </div>


    <div class="span8 well" style="background-color: #fff;">
    	
      <h2>Log de ações</h2>
      <p class="lead">Registro de ações</p><br><br>

      <button class="btn btn-large btn-primary" type="button"><i class="icon-white icon-share"></i> Exportar logs</button><br><br>

      <h4>Data da ação: 12/06/2013</h4>
      <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Hora</th>
                  <th>Tipo de ação</th>
                  <th>Detalhes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Roberto</td>
                  <td>10:40</td>
                  <td>Cadastro de usuário</td>
                  <td>Cristina; Janaína; Rafaela</td>
                </tr>
              </tbody>
      </table>

                <br>


      <h4>Data da ação: 11/06/2013</h4>
      <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Hora</th>
                  <th>Tipo de ação</th>
                  <th>Detalhes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Roberto</td>
                  <td>15:56</td>
                  <td>Cadastro de usuário</td>
                  <td>José</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Cristina</td>
                  <td>10:25</td>
                  <td>Cadastro de obra</td>
                  <td>Jardim das Pardizes</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Roberto</td>
                  <td>09:30</td>
                  <td>Cadastro de obra</td>
                  <td>Delboni Aureliano</td>
                </tr>
              </tbody>
      </table>

      <br>

      <h4>Data da ação: 10/06/2013</h4>
      <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Hora</th>
                  <th>Tipo de ação</th>
                  <th>Detalhes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Admin</td>
                  <td>08:20</td>
                  <td>Cadastro de usuário</td>
                  <td>Roberto</td>
                </tr>
              </tbody>
      </table>

            <br>
            <div class="pagination">
              <ul>
                <li><a href="#">« Anterior</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Próximo »</a></li>
              </ul>
            </div>

      


    </div>

</div>