//= require twitter-bootstrap-static/bootstrap
//= require twitter-bootstrap-static/fontawesome
//= require jquery.ui.all


$white: #fff
$white_glass: transparentize($white, 0.2)

footer.ui
	:position fixed
	:bottom 0
	:left 0
	:background-color $white_glass
	:width 100%
	:padding-top 20px
	:border 1px solid #eee

body
	:margin-bottom 120px
	// :padding-top 40px
	:padding-bottom 40px
	:background-color #f5f5f5

nav.sidebar
	ul
		:list-style-type none
		:overflow hidden

		li
			:margin-bottom 10px
			:overflow hidden

			i
				:display block
				:font-size 60px

			a 
				:font-size 12px
				:line-height 1.4
				:width 80px

.form-signin 
	max-width: 300px
	padding: 19px 29px 29px
	margin: 0 auto 20px
	background-color: #fff
	border: 1px solid #e5e5e5
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05)
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05)
	box-shadow: 0 1px 2px rgba(0,0,0,.05)

.form-signin .form-signin-heading,
.form-signin .checkbox 
	margin-bottom: 10px

.form-signin input[type="text"],
.form-signin input[type="password"] 
	font-size: 16px
	height: auto
	margin-bottom: 15px
	padding: 7px 9px

label.emphasis
	:font-weight bold

.form-horizontal
	h3
		:margin 20px 0
		:width 160px
		:font-size 14px
		:text-align right
