

h2 Log de ações
p.lead Registro de ações
= link_to polymorphic_path(Log, format: :xls), class:"btn btn-large btn-primary"
	i.icon-white.icon-share
	|  Exportar logs

hr

- for day in @logs.group_by(&:day)
	h4 Registros de #{day[0]}

	- @table = [day[1].each_with_index.map { |c,i| [i+1, c.admin.name, l(c.created_at, format: :short), c.action, c.details] }]
	- @table.unshift [["#", "Nome", "Hora", "Tipo", "Detalhes"]]

	= render partial: "layouts/table", locals:{table: @table}
/ h4 Data da ação: 12/06/2013
/ table.table.table-striped
/ 	thead
/ 		tr
/ 			th #
/ 			th Nome
/ 			th Hora
/ 			th Tipo de ação
/ 			th Detalhes
/ 	tbody
/ 		tr
/ 			td 1
/ 			td Roberto
/ 			td 10:40
/ 			td Cadastro de usuário
/ 			td Cristina; Janaína; Rafaela
/ 	h4 Data da ação: 11/06/2013
/ 	table.table.table-striped
/ 		thead
/ 			tr
/ 				th #
/ 				th Nome
/ 				th Hora
/ 				th Tipo de ação
/ 				th Detalhes
/ 		tbody
/ 			tr
/ 				td 1
/ 				td Roberto
/ 				td 15:56
/ 				td Cadastro de usuário
/ 				td José
/ 			tr
/ 				td 2
/ 				td Cristina
/ 				td 10:25
/ 				td Cadastro de obra
/ 				td Jardim das Pardizes
/ 			tr
/ 				td 3
/ 				td Roberto
/ 				td 09:30
/ 				td Cadastro de obra
/ 				td Delboni Aureliano
/ 	br
/ 		h4 Data da ação: 10/06/2013
/ 		table.table.table-striped
/ 			thead
/ 				tr
/ 					th #
/ 					th Nome
/ 					th Hora
/ 					th Tipo de ação
/ 					th Detalhes
/ 			tbody
/ 				tr
/ 					td 1
/ 					td Admin
/ 					td 08:20
/ 					td Cadastro de usuário
/ 					td Roberto
/ 		br
/ 			.pagination
/ 				ul
/ 					li
/ 						a href="#"
/ 					li
/ 						a href="#"
/ 					li
/ 						a href="#"
/ 					li
/ 						a href="#"
/ 					li
/ 						a href="#"
/ 					li
/ 						a href="#"
/ 					li
/ 						a href="#"
